@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", Arial;
  color: white;
  overflow-x: hidden;
  ::selection {
    background: #00f0b5;
    color: #001d4a; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #00f0b5;
    color: #001d4a; /* Gecko Browsers */
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  color: white;
}

.experiences {
  background: white;

  padding-bottom: 5rem;

  .entry:nth-child(3n + 3) {
    background: #e5d0e3;
  }
  .entry:nth-child(3n + 2) {
    background: #d0dfe5;
  }
  .entry:nth-child(3n + 1) {
    background: #d0e5d8;
  }

  .section_title {
    color: #e65f5c;
    padding: 1rem 4rem;
    font-size: 3rem;
    text-align: center;
  }

  .entry {
    padding: 2rem;
    color: black;

    br {
      content: "";
      margin: 3em;
      display: block;
      font-size: 30%;
    }

    .title {
      color: #001d4a;
      font-weight: 400;
      padding-top: 2rem 0;
    }

    .date {
      color: royalblue;
      line-height: 0.5rem;
      font-weight: 400;
      font-size: 1.2rem;
    }

    .desc {
      font-weight: 400;
      font-size: 1rem;
    }

    .img {
      margin: auto;
      margin-top: 2rem;
      max-width: 200px;
      height: 200px;
      img {
        object-fit: cover;
      }
    }
  }
}

@media only screen and (min-width: 880px) {
  .experiences {
    margin: 2rem;
    padding-bottom: 5rem;

    .section_title {
      text-align: unset;
    }

    .entry {
      padding: 4rem 4rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
      .title {
        font-weight: 500;
        font-size: 2rem;
      }

      .date {
        font-weight: 400;
        font-size: 1.4rem;
      }

      .desc {
        font-weight: 400;
        font-size: 1rem;
      }

      .img {
        margin: auto;
        margin-top: 2rem;
        max-width: 300px;
        height: auto;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
